html, body {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    padding: 1rem 0;
}

nav a {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

nav a.active {
    opacity: 1;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #111111;
    padding: 1rem;
    border-top: 1px solid #333;
    margin-top: 25px;
}
footer p, footer a{
    line-height: 1;
}

footer p { 
    font-size: 0.8em; 
    margin: 0;
}
footer a { 
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 600;
}
#wwm {
    font-size: clamp(0.8rem, 2.2vw, 0.9rem)
}