header {
    display: flex;
    color: #ffffff;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    margin-top: 15px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #111111;
    margin: 0rem;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#imageTrack > .image {
    width: 35vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: 90% 50%;
}

#imageTrack {
    display: flex;
    gap: 3vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-10%, -50%);
}
a {
    text-decoration: none;
    color: #ffffff;
}