nav a {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
html, body {
    overflow: auto;
    scrollbar-width: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}
nav a.active {
    opacity: 1;          /* or font-weight: bold; or color: #aaa; whatever "less transparent" means */
}
nav {
    display: flex;
    color: #ffffff;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    margin-top: 15px;
}

body {
    width: 100%;
    background-color: #111111;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#imageTrack {
    display: flex;
    gap: 2.5vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-11%, -50%);   
    will-change: transform;
}

#imageTrack > .image {
    width: 35vmin;
    height: 50vmin;
    object-fit: cover;
    transform: translateZ(0);
    will-change: transform;
    object-position: 90% 50%;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.mySVG {
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    cursor: pointer;
}
.prints h2 {
    font-size: 3em;
    color: #ffffff;
}
.first-section {
    position: relative;
    height: 100vh;
    width: 100%;
}
.prints {
    margin-top: 100vh;
    display: flex;
}
