#gallery-grid {
    column-count: 4;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

#gallery-grid img {
    width: 100%;
    cursor: pointer;
    break-inside: avoid;
    display: block;
    margin-bottom: 15px;
}

/* Lightbox */
#lightbox {
    position: fixed;
    inset: 0;
    background: black;
    display: none;
}

#lightbox.active {
    display: block;
}

#lb-image {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

#lb-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
#lb-close {
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 40px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}
#lb-prev {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    left: 25px;
    font-size: 40px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}
#lb-next {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    right: 25px;
    font-size: 40px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #111111;
    padding: 1rem;
    border-top: 1px solid #333;
    margin-top: 25px;
}
footer p, footer a{
    line-height: 1;
}

footer p { 
    font-size: 0.8em; 
    margin: 0;
}
footer a { 
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 600;
}
#wwm {
    font-size: clamp(0.8rem, 2.2vw, 0.9rem)
}
@media(max-width:1000px){
    #gallery-grid{
        column-count: 2;
    }
}