nav {
    display: flex;
    color: #ffffff;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    margin-top: 15px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
body {
    background-color: #111111;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section1 {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    display: flex;
    position: absolute;
    left: 40%;
    top: 15%;
    padding: 0 5vw;
}
