nav a {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
nav a.active {
    opacity: 1;                      
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    padding: 1rem 0;
}
a {
    text-decoration: none;
    color: #ffffff;
}
html, body {
    overflow: auto;
    scrollbar-width: none;
}
body {
    background-color: #111111;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}
main {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-flow: row;
    row-gap: 20vh;
}
.section1 {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    display: flex;
    padding: 0 5vw;
    grid-column: 2;
    margin-top: 20vh;
}
.section2 {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    display: flex;
    padding: 0 5vw;
    grid-column: 2
}
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    background-color: #111111;
    padding: 1rem;
    border-top: 1px solid #333;
}
footer p {
    font-size: 0.8em;
}
footer a {
    font-size: 2em;
    font-weight: 600;
}