main {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-flow: row;
    row-gap: 20vh;
}
.section1 {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    display: flex;
    padding: 0 5vw;
    grid-column: 2;
    margin-top: 20vh;
}
.section2 {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    display: flex;
    padding: 0 5vw;
    grid-column: 2
}