h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    margin-top: 100px;
}
.input-field{
    display: grid;
    position: relative;
    justify-content: center; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 75%;
    max-width: 700px;
    margin: 0 auto;
}
input, textarea{
    background-color: #2d2d2d;
    height: 40px;
    border-radius: 10px;
    color: white;
    padding-left: 12px;
    font-family: monospace;
}
textarea{
    padding-top: 20px;
}
#inp3{
    grid-column: 1/-1;
    min-height: 150px;
    resize: vertical;
    line-height: 1.4;
}
#inp3::placeholder{
    position: absolute;
    top: 20px;
}
#submit{
    grid-column: 1/-1;
    min-height: 50px;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 600;
}
#p1{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 75px;
    margin-bottom: 75px;
}
#quoteBtn{
    background-color: #777777;
    border-radius: 6px;
    width: 400px;
    height: 75px;
    font-weight: 700;
    font-size: 1.1em;
    color: #ffffff;
    cursor: pointer;
}
.get-a-quote{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}