html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
body {
    overflow-x: hidden;
    margin-top: 100px;
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    color: #ffffff;
    text-decoration: none;
}
nav a {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
nav a.active {
    opacity: 1;                      
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    padding: 1rem 0;
}

.print-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

#print-image {
    max-width: 95%;
    max-height: 75vh;
    width: auto;
    height: auto;
    max-height: 750px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.print-info {
    margin-top: 2rem;
    display: flex;
}
.print-text{
    flex: 1;
}
#print-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#print-description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    opacity: 0.85;
    max-width: 33vw;
    margin-right: 1rem;
}

.print-purchase .price {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.print-purchase button {
    flex: 1;
    background: #fff;
    color: #000;
    border: none;
    padding: 0.6rem 1rem;
    margin: 0.2rem 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 6px;
}

.print-purchase .sizes button:hover {
    background: #eee;
}
.print-purchase .sizes {
    display: flex;
    width: 100%;
}
.print-purchase{
    flex: 1;
}
.checkout {
    background: #fff;
    margin: 0 0.2rem;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 5px;
    text-align: center;
}
button {
    all: unset;
    box-sizing: border-box;
}
.print-image-section {
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
}
#print-image {
    display: block;
}
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    height: 10vh;
}
.nav-btn img {
    height: 66px;
}
.nav-btn.left {
    left: -40px; /* adjust distance from image */
}

.nav-btn.right {
    right: -40px; /* adjust distance from image */
}
@media(max-width:765px) {
    .print-info{
        display: flex;
        flex-direction: column;
    }
    #print-description{
        max-width: 100%;
    }
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #111111;
    padding: 1rem;
    border-top: 1px solid #333;
    margin-top: 25px;
}
footer p, footer a{
    line-height: 1;
}

footer p { 
    font-size: 0.8em; 
    margin: 0;
}
footer a { 
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 600;
}
#wwm {
    font-size: clamp(0.8rem, 2.2vw, 0.9rem)
}